* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe0cc;
}

.navbar-left h1 {
    color: orangered;
    margin: 5%;
}

.navbar-right {
    display: flex;
    padding: 2%;
    gap: 30px;
}

.navbar-right a {
    color: orangered;
    font-weight: 600;
}


/* HOMEPAGE */
.home {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 3%;
    margin: 20%;
    background-color: #ffe0cc;
}

.home p {
    font-size: 20px;
    line-height: 25px;
}

/* TASKLIST */

h3 {
    text-align: center;
    font-size: 40px;
}

.task-list {
    display: flex;
    justify-content: center;
    padding: 3%;
    margin: 20px;
    background-color: #f9f9f9;
}

/* TABLE */

table {

    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: rgba(255, 68, 0, 0.473);
}

tbody tr:hover {
    background-color: #ffe0cc;
    cursor: pointer;

}


/* ADDTASK */

.container_add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 50%;
    padding: 2%;
    margin: 10% auto;
    background-color: #ffe0cc;
    color: orangered;
    border-radius: 10px;
}


.add-task {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input,
textarea,
select,
label,
button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
}

button {
    margin-left: 39%;
    text-align: center;
    width: 25%;
    padding: 10px;
    cursor: pointer;

}

button:active {
    background-color: #388E3C;

}

.mex_error {
    color: red;
    font-weight: 600;
}


/* DETAILTASK */

.container_detail-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    padding: 2%;
    margin: 10% auto;
    background-color: #ffe0cc;
    color: rgba(248, 89, 32, 0.849);
    border-radius: 10px;
}

.detail_task {
    color: black;
    margin-right: 1%;
}

em {
    font-weight: 800;

}