* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left h1 {
    color: orangered;
    margin: 5%;
}

.navbar-right {
    display: flex;
    padding: 2%;
    gap: 30px;
}

.navbar-right a {
    color: orangered;
    font-weight: 600;
}