* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left h1 {
    color: orangered;
    margin: 5%;
}

.navbar-right {
    display: flex;
    padding: 2%;
    gap: 30px;
}

.navbar-right a {
    color: orangered;
    font-weight: 600;
}


/* HOMEPAGE */
.home {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 3%;
    margin: 20%;
    background-color: #f9f9f9;
}

.home p {
    font-size: 20px;
    line-height: 25px;
}